#div_img {
    margin: auto;
    width: 50%;
    padding: 5px;
}

#div_name {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

#div_description {
    color: black;
    padding: 5%;
    font-size: 14px;
}

#div_price {
    padding: 5%;
    text-align: center;
    font-size: 22px;
    color: #0000cc;
    font-weight: bold;
}