<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)" ></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of listItems">
        <button ion-button (click)="openModal(item)">
            <a id="name">{{ item.name }} </a>
            <!-- <a id="value">R$ {{ item.value }}</a> -->
        </button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
